{% extends 'manager/layout/Base.html' %}

{% block title %}Tạo tài khoản{% endblock %}

{% load static %}

{% block linkHead %}
    <link rel="stylesheet" href="{% static 'manager/css/TaoTaiKhoan.css' %}">
{% endblock %}

{% block content %}
    <div class="infoFrame">
        <form action="{% url 'manager:Post_create_account' %}" method="post">
            {% csrf_token %}
            
            <label for="hoTen">Họ và tên</label><br>
            <input type="text" name="hoTen" id="hoTen" required><br>

            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" required><br>

            <label for="password">Mật khẩu</label><br>
            <input type="password" name="password" id="password" required><br>

            <label for="password2">Nhập lại mật khẩu</label><br>
            <input type="password" name="password2" id="password2"><br>

            <label>Vai trò</label><br>
            <input type="radio" name="role" id="nhanVienRadio" value="staff" checked> 
            <label for="nhanVienRadio" class="labelOfRadio">Nhân viên</label><br>
            
            <input type="radio" name="role" id="quanLyRadio" value="manager">
            <label for="quanLyRadio" class="labelOfRadio">Quản lý</label><br>
            
            <input type="radio" name="role" id="kyThuatVienRadio" value="technician">
            <label for="kyThuatVienRadio" class="labelOfRadio">Kỹ thuật viên</label><br>

            <input type="submit" value="Tạo tài khoản" id="createAccountBtn" onclick="return TestPassword()">
        </form>
    </div>

    {% if report %}
        <script>
            alert("{{ report }}")
        </script>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        function TestPassword() {
            pass1 = document.getElementById("password").value;
            pass2 = document.getElementById("password2").value;
            if (pass1 != pass2) {
                alert("Mật khẩu nhập lại phải giống với mật khẩu ở trên");
                return false;
            }
            if(confirm("Bạn sẽ tạo tài khoản này?")) {
                return true;
            }
            return false;        
        }
    </script>
{% endblock %}
