<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo tài khoản</title>
</head>
<body>
    <button onclick="ToURL('../../logout')">Đăng xuất</button><br><br>

    <form action="{% url 'Post_create_account' %}" method="post">
        {% csrf_token %}

        <label for="hoTen">Họ và tên</label>
        <input type="text" name="hoTen" id="hoTen" required><br><br>

        <label for="role">Vai trò trong hệ thống</label>
        <select name="role" id="role">
            <option value="staff">Nhân viên</option>
            <option value="manager">Quản lý</option>
            <option value="technician">Kỹ thuật viên</option>
        </select><br><br>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required><br><br>

        <label for="password">Mật khẩu</label>
        <input type="password" name="password" id="password" required><br><br>

        <label for="password2">Nhập lại mật khẩu</label>
        <input type="password" name="password2" id="password2"><br><br>

        <input type="submit" value="Tạo tài khoản" onclick="return TestPassword()">
    </form>
</body>
<script>
    function TestPassword() {
        pass1 = document.getElementById("password").value;
        pass2 = document.getElementById("password2").value;
        if (pass1 != pass2) {
            alert("Mật khẩu nhập lại phải giống với mật khẩu ở trên");
            return false;
        }
        if(confirm("Bạn sẽ tạo tài khoản này?")) {
            return true;
        }
        return false;        
    }
    function ToURL(url) {
        window.location.href = url;
    }
</script>
</html>