{% extends 'manager/layout/Base.html' %}

{% block title %}Tạo FAQ{% endblock %}

{% load static %}

{% block linkHead %}
    <link rel="stylesheet" href="{% static 'manager/css/TaoFAQ.css' %}">
{% endblock %}

{% block content %}
    <div class="infoFrame">
        <form action="{% url 'manager:Post_create_faq' %}" method="post">
            {% csrf_token %}
            
            <label for="question">Câu hỏi</label><br>
            <textarea name="question" id="question" cols="40" rows="3"></textarea><br><br>

            <label for="answer">Câu trả lời</label><br>
            <textarea name="answer" id="answer" cols="40" rows="6"></textarea><br><br>
            
            <input type="submit" value="Tạo FAQ" id="submitBtn">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.getElementById("submitBtn").onclick = function() {
            if(confirm("Bạn sẽ tạo câu hỏi thường gặp (FAQ) này?")) {
                return true;
            }
            return false;
        }
    </script>
{% endblock %}
