{% extends 'manager/layout/Base.html' %}

{% block title %}Trang chủ{% endblock %}

{% load static %}

{% block linkHead %}
    <script src="{% static 'layout/js/jquery-3.5.0.min.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script src="{% static 'layout/js/firebase_config.js' %}"></script>

    <link rel="stylesheet" href="{% static 'manager/css/TrangChu.css' %}">
    <link rel="stylesheet" href="{% static 'layout/css/ZoomImage.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="menuLeft">
        <a onclick="ChooseMenuItem(event, 'problemNotDoneTable')" class="menuItem menuItemActive">Sự cố chưa hoàn thành</a>
        <a onclick="ChooseMenuItem(event, 'problemDoneTable')" class="menuItem">Sự cố đã hoàn thành</a>
        <a onclick="ChooseMenuItem(event, 'faqTable')" class="menuItem">Danh sách FAQ</a>
    </div>
    <div class="mainContent">
        <div class="problemTable tabContent" id="problemNotDoneTable" style="display: block;">
            <table border="1" width="100%">
                <tr>
                    <th width="50%">Nội dung</th>
                    <th width="10%">Hình ảnh</th>
                    <th width="15%">Trạng thái</th>
                    <th colspan="4" width="25%">Các thao tác</th>
                </tr>
            </table>
        </div>
        
        <div class="problemTable tabContent" id="problemDoneTable">
            <table border="1" width="100%">
                <tr>
                    <th width="70%">Nội dung</th>
                    <th width="15%">Hình ảnh</th>
                    <th width="15%" colspan="2">Thao tác</th>
                </tr>
            </table>
        </div>

        <div id="faqTable" class="tabContent">
            <table border="1" width="100%">
                <tr>
                    <th width="30%">Câu hỏi</th>
                    <th width="45%">Trả lời</th>
                    <th width="25%" colspan="2">Thao tác</th>
                </tr>
            </table>
        </div>
        
    </div>
</div>

<div id="modalFrame">
    <div id="modalContent"></div>
    <span id="modalClose">&times;</span>
</div>
<div id="zoomImage">
    <img src="" alt="" id="imageNeedZoom">
    <div class="closeImageBtn">
        <span onclick="CloseImage()">&times;</span>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'manager/js/Index.js' %}"></script>
    <script src="{% static 'layout/js/ZoomImage.js' %}"></script>
{% endblock %}