<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sự cố</title>
    {% load static %}
    <script src="{% static 'layout/js/jquery-3.5.0.min.js' %}"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script src="{% static 'layout/js/firebase_config.js' %}"></script>
</head>
<body>
    <button>
        {% if position_currently == "staff" %}
            <a href="{% url 'staff:Get_index' %}">
        {% elif position_currently == "manager" %}
            <a href="{% url 'manager:Get_index' %}">
        {% elif position_currently == "technician" %}
            <a href="{% url 'technician:Get_index' %}">
        {% endif %}
        Trang chủ</a>
    </button>
    
    <h2>Chi tiết sự cố</h2>
    <h3>Thông tin người tạo sự cố</h3>
    <p>Họ tên: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>

    <h3>Thông tin sự cố</h3>
    <p>Nội dung sự cố: {{ problem.content }}</p>
    <p>Hình ảnh sự cố: 
        {% if problem.image_url != "" %}
            <img src="{{ problem.image_url }}" style="height: 200px">
        {% endif %}
    </p>
    <p>Trạng thái sự cố: 
        {% if problem.status == "0" %}
            Đã gửi
        {% elif problem.status == "1" %}
            Đang điều tra
        {% elif problem.status == "2" %}
            Chờ duyệt
        {% elif problem.status == "3" %}
            Đã hoàn thành
        {% endif %}
    </p><hr>
    <input type="hidden" id="status" value="{{ problem.status }}">
    
    <h2>Phản hồi</h2>
    <div id="replies"></div><hr>
    <input type="hidden" name="problem_key" id="problem_key" value="{{ problem_key }}">

    <label for="content">Nội dung</label><br>
    <textarea name="content" id="content" cols="45" rows="3" required></textarea><br><br>

    <label for="image">Chọn ảnh</label>
    <input type="file" name="image" id="image">
    <input type="hidden" name="image_url" id="image_url" value=""><br><br>

    <input type="button" value="Gửi phản hồi" id="guiPhanHoiBtn">
    <input type="button" value="Làm lại" onclick="ResetReply()">

    <script src="{% static 'manager/js/ProblemDetail.js' %}"></script>
</body>
</html>