<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'manager/css/DangNhap.css' %}">
</head>
<body>
    <div class="login">
        <form action="{% url 'manager:Post_sign_in' %}" method="post">
            {% csrf_token %}

            <p>
                <label for="email">Email</label><br>
                <input type="email" name="email" id="email">
            </p>
            
            <p>
                <label for="password">Mật khẩu</label><br>
                <input type="password" name="password" id="password">
            </p>
            <input type="submit" value="Đăng nhập" id="loginBtn"> 
        </form>
    </div>
    {% if report %}
        <script>
            alert("{{ report }}");
        </script>
    {% endif %}
</body>
</html>