<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update FAQ</title>
</head>
<body>
    <form action="{% url 'manager:Post_update_FAQ' faq_key %}" method="post">
        {% csrf_token %}

        <label for="question">Câu hỏi</label><br>
        <textarea name="question" id="question" cols="30" rows="4">{{ faq.question }}</textarea><br><br>

        <label for="answer">Câu trả lời</label><br>
        <textarea name="answer" id="answer" cols="35" rows="10">{{ faq.answer }}</textarea><br><br>
        
        <input type="submit" value="Cập nhật">
    </form>
</body>
</html>