<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'layout/css/Navi.css' %}">
    {% block linkHead %}{% endblock %}
</head>
<body>
    <div>
        {% if position_currently == "staff" %}
            <a href="{% url 'staff:Get_index' %}" class="logoTitle">Helpdesk</a>
        {% elif position_currently == "manager" %}
            <a href="{% url 'manager:Get_index' %}" class="logoTitle">Helpdesk</a>
        {% elif position_currently == "technician" %}
            <a href="{% url 'technician:Get_index' %}" class="logoTitle">Helpdesk</a>
        {% endif %}
    </div>
    <h3 class="sectionTitle">
        <!-- <img src="{% static './image/vietnamFlag.png' %}" alt="" onclick="alert('xin chao')">&nbsp;
        <img src="{% static './image/englishFlag.png' %}" alt="" onclick="alert('hello')">&nbsp; -->
        {% if position_currently == "manager" %}
            <span id="hiUser">Chào quản lý {{ name }}</span>
        {% endif %}
    </h3>
    <div class="navi">
        {% if position_currently == "manager" %}
            <a href="{% url 'manager:Get_create_account' %}" class="navi-item">TẠO TÀI KHOẢN</a>
            <a href="{% url 'manager:Get_create_faq' %}" class="navi-item">TẠO FAQ</a>
        {% endif %}
        <a href="{% url 'manager:Logout' %}" class="navi-item">ĐĂNG XUẤT</a>
    </div>

    {% block content %}{% endblock %}

    {% block script %}{% endblock %}
</body>
</html>