<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    {% load static %}
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script src="{% static 'layout/js/firebase_config.js' %}"></script>
</head>
<body>
    <h2>Đây là trang chủ</h2>
    <h4>Chào kỹ thuật viên {{ name }}</h4>
    <button><a href="{% url 'manager:Logout' %}">Đăng xuất</a></button><br><br>

    <input type="hidden" name="user" id="user" value="{{ user }}">

    <h3>Danh sách công việc</h3>
    <div id="works"></div>

    <h3>Danh sách các công việc đã được giải quyết</h3>
    <div id="solutions"></div>

    <h3>Danh sách FAQ</h3>
    <div id="faqs"></div>

    <script src="{% static 'technician/js/Index.js' %}"></script>
</body>
</html>