.infoFrame {
    width: 60%;
    background-color: #f4f4f4;
    border: 5px solid #cecece;
    border-radius: 5px;
    padding: 4px 20px;
    margin: 41px auto 0px auto;
}
  
.infoFrame form {
    margin: 10px 51px;
}

.infoFrame form label {
    font-size: 17px;
    font-weight: bold;
    margin: 0px auto -6px auto;
    display: block;
}

.infoFrame form textarea {
    margin: -3px auto 13px auto;
    font-size: 16px;
    width: 100%;
    padding: 7px;
}

#submitBtn {
    background-color: #98e6ff;
    padding: 11px 46px;
    border-width: 0px;
    border-radius: 4px;
    display: block;
    margin: -11px auto 6px auto;
    transition: 0.4s;
    font-size: 19px;
}

#submitBtn:hover {
    box-shadow: 2px 2px 3px 2px #00abff;
}