.sectionTitle {
  font-size: 22px;
  color: #17c1f9;
}

.problemNotDone {
  display: flex;
  flex-wrap: wrap;
  margin-top: 42px;
}

.problemTable {
  height: 400px;
  width: 560px;
  overflow-y: scroll;
  border: 1px solid gray;
  border-radius: 4px;
}

.problemTable table {
  border-collapse: collapse;
}

.titleTable {
  background: #58d0f7;
}

.problemTable table .content {
  padding: 3px 8px;
  font-size: 16px;
  width: 178px;
  height: 56px;
  display: block;
  overflow-y: scroll;
}

.problemTable .status {
  padding: 4px 8px;
}

.problemTable table img {
  height: 53px;
  max-width: 85px;
}

.problemTable table img:hover {
  cursor: pointer;
}

.problemTable table th {
  padding: 9px 11px;
}

.functions {
  width: 158px;
}

.dropdown {
  position: relative;
  width: 80%;
  margin: auto;
}

.dropdownBtn {
  padding: 8px 10px;
  display: block;
  border-radius: 3px;
  background-color: #cafdf1;
  box-shadow: 1px 1px 4px 1px gray;
  text-align: center;
}

.dropdown:hover .dropdownBtn {
  background-color: #6dc5e1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.content-item {
  display: block;
  text-decoration: none;
  min-width: 100px;
  background-color: #f0f0f0;
  font-size: 16px;
  color: black;
  padding: 8px 11px;
  border-bottom: 1px solid gray;
}

.content-item:hover {
  background-color: #bfbebe;
}

.disabled-link {
  opacity: 0.8;
  pointer-events: none;
  background-color: #e6e4e4;
}

.workTable {
  margin-left: 34px;;
  height: 400px;
  width: 574px;
  overflow-y: scroll;
  border: 1px solid gray;
  border-radius: 4px;
}

.workTable table {
  border-collapse: collapse;
}

.workTable table th {
  padding: 9px 3px;
  width: 92px;
}

.workTable .content {
  width: 104px;
  height: 70px;
  display: block;
  overflow-y: scroll;
  padding: 2px 3px;
}

.workTable .userFix {
  width: 84px;
  padding: 1px 3px;
}

.workTable .status {
  padding: 2px 3px;
}

.problemDone {
  display: flex;
  flex-wrap: wrap;
  margin-top: 63px;
}

.problemDone .problemTable .content {
  width: 272px;
} 

.problemDone .workTable .content {
  width: 219px;
}

.problemDone .workTable .userFix {
  width: 150px;
}

.problemDone .workTable .deadline {
  width: 150px;
  padding: 6px 10px;
}

#faqTable {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

#faqTable th {
  padding: 10px;
  font-size: 17px;
  background-color: #61f4fb; 
}

#faqTable tr:nth-child(odd) {
  background-color: #d7d7d7;
}

#faqTable tr:nth-child(even) {
  background-color: #fbfbfb;
}

#faqTable tr:hover {
  background-color: #fbeeb3;
}

#faqTable td {
  padding: 2px 4px;
}

#faqTable .question {
  height: 50px;
  width: 30%;
}

#faqTable .answer {
  height: 50px;
  width: 50%;
}

#faqTable .functions {
  height: 50px;
  width: 20%;
  text-align: center;
}

#faqTable .function-item {
  padding: 6px 11px;
  background-color: #53ff53;
  text-decoration: none;
  border-radius: 6px;
  margin: auto 3px;
}

#faqTable .function-item:hover {
  box-shadow: 2px 2px 3px 3px #0ea40e;
}