<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create problem</title>
    {% load static %}
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script src="{% static 'js/firebase_config.js' %}"></script>
</head>
<body>
    <form action="{% url 'Post_create_problem' %}" method="post" id="createProblemForm">
        {% csrf_token %}

        <label for="content">Tóm tắt vấn đề gặp phải</label><br>
        <textarea name="content" id="content" cols="40" rows="10" required></textarea><br><br>

        <label for="image">Hình ảnh vấn đề (nếu có)</label>
        <input type="file" name="image" id="image"><br><br>
        <input type="hidden" name="image_url" id="image_url" value="">
        
        <input type="button" value="Gửi báo cáo" id="submitBtn">
        <input type="reset" value="Làm lại">
    </form>

    <script src="{% static 'js/staff/CreateProblem.js' %}"></script>
</body>
</html>