<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    <h2>Đây là trang chủ</h2>
    <h4>Chào nhân viên {{ name }}</h4>
    <button onclick="ToURL('CreateProblem')">Tạo báo cáo cho sự cố</button>
    <button onclick="ToURL('logout')">Đăng xuất</button>
    
    {% if report %}
        <script>
            alert("{{ report }}");
        </script>
    {% endif %}
</body>
<script>
    function ToURL(url) {
        window.location.href = url;
    }
</script>
</html>